@model WebApplicationElComercio.Models.Sucursal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Sucursal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="idsucursal" class="control-label"></label>
                <input asp-for="idsucursal" class="form-control" />
                <span asp-validation-for="idsucursal" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecharegistro" class="control-label"></label>
                <input asp-for="fecharegistro" class="form-control" />
                <span asp-validation-for="fecharegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idbanco" class="control-label"></label>
                @Html.DropDownListFor(model => model.idbanco, new List<SelectListItem>(ViewBag.ListBancos), "---- Seleccione Banco ----")
                <span asp-validation-for="idbanco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
