@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <br />
    <br />
    <span> <strong> Iniciar Session Ver Opciones. (ejemplo: Usuario -> jcastillo3 Contraseña -> 123456) </strong></span>
    <ol class="round">

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Administrador") || User.IsInRole("Operador1"))
            {
                <li class="one">
                    <h5><a href="/Banco">Bancos</a></h5>
                    <br />
                </li>
            }

            @if (User.IsInRole("Administrador") || User.IsInRole("Operador1"))
            {
                <li class="two">
                    <h5><a href="/Sucursal">Sucursales</a></h5>
                    <br />
                </li>
            }

            @if (User.IsInRole("Administrador") || User.IsInRole("Operador2"))
            {
                <li class="three">
                    <h5><a href="/OrdenPago">Ordenes de Pago</a></h5>
                    <br />
                </li>
            }
        }

    </ol>

</div>
